body {
  text-align: center;
  align-content: center;
  margin: auto;
  background-size: auto;
  border-color: #d38181;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  padding-bottom: 15px;
  border-top-width: 10px;
  border-top-style: solid;
}

header {
  font-family: "Poppins", sans-serif;
  color: black;
}

.titles {
  text-align: center;
}

.title-photo {
  background-image: url("../images/eighties.png") !important;
  background-color: gray !important;
  background-blend-mode: screen !important;
}

.sub-title {
  font-weight: bolder !important;
  text-align: center;
  margin-right: 200px;
}

.trivia-title {
  text-align: center;
  margin-right: 190px;
}

.container {
  margin-left: 275px !important;
}

.seconds {
  font-weight: bold;
  font-size: xx-large;
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
  color: #d38181;
}

.countdown {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: medium;
  color: #black;
}

.countdown-timer {
  text-align: center;
}

.get-started {
  text-align: center;
}

#start-button {
  margin: 0px 0px 35px 0px;
  background-color: #d38181;
  color: white;
  letter-spacing: 3px;
}

.play-game {
  font-weight: bold;
  font-size: medium;
  font-family: "Poppins", sans-serif;
}

.trivia {
  line-height: 4;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.choices {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.button {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  text-align: center;
  align-content: center;
}

.bottom-buttons {
  text-align: center;
}

#done-button {
  margin: 50px 0px 0px 0px;
  text-align: center;
  background-color: #d38181;
  color: white;
  letter-spacing: 3px;
  align-content: center;
}

#restart-button {
  letter-spacing: 3px;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #d38181;
  margin: 50px 0px 0px 0px;
  font-size: 25px;
  text-align: center;
  align-content: center;
}
